<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/materialize.min.css') }}">
  <script src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>

  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% if title %}
  <title>{{ title }} - VPNPi</title>
  {% else %}
  <title>Kais VPNPi</title>
  {% endif %}
</head>

<body>
  <div class="navbar-fixed ">
    <nav>
      <div class="nav-wrapper teal lighten-1">
        <ul id="nav-mobile" class="right">
          <li><a href="/index">Home</a></li>
          <li><a href="/vpn">VPNs</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
